{% extends 'base.html' %}


{% block body %}

<div class="container">
    <br>

    <form method="POST">

        {% csrf_token %}

        <h4>Editing Item</h4>

        {% for field in form %}

        <div class="form-group row">

            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">
                {{ field }}

            </div>

        </div>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Edit and Save the Item</button>

    </form>


</div>

{% endblock %}